{{define "rozdel"}}

{{template "header"}}
    <div class="container">
        <div class="rozdel">
            <a href="/7">
            <div class="rozdel_item">
                <img src="../png/81778.jpg" alt="ware" class="rozdel_img">
                <div class="rozdel-price">10 грн</div>
            </div>
            </a>
            <a href="/7">
            <div class="rozdel_item">
                <img src="../png/81778.jpg" alt="ware" class="rozdel_img">
                <div class="rozdel-price">20 грн</div>
            </div>
            <a href="/7">
            <div class="rozdel_item">
                <img src="../png/81778.jpg" alt="ware" class="rozdel_img">
                <div class="rozdel-price">30 грн</div>
            </div>
            </a>
            <a href="/7">
            <div class="rozdel_item">
                <img src="../png/81778.jpg" alt="ware" class="rozdel_img">
                <div class="rozdel-price">40 грн</div>
            </div>
            </a>
            <a href="/7">
             <div class="rozdel_item">
                <img src="../png/81778.jpg" alt="ware" class="rozdel_img">
                <div class="rozdel-price">50 грн</div>
            </div>
            </a>
        </div>
    </div>
<script src="../js/bascket.js"></script>
{{template "futer"}}
{{end}}
