{{define "tovar"}}

{{template "header"}}
<div class="tovar">
    <div class="container">
        <div class="item_box">
        <div class="tovar_left">
            <img src="../png/81778.jpg" alt="" class="photoImage">
        </div>
        <div class="tovar_description">
            <div class="item_photo">../png/81778.jpg</div>
            <h2 class="item_title">Чай VERESOTSKYI «Яблуко + Сaусеп»</h2>
            <span class="kode_item">
                Код товару: 7
            </span>
            <p class="price"><span class="item_price">20</span> грн</p>
            <button class="add_item" data-id="7">Купити</button>
            <br>
            <!--<p><button id="checkout">Оформить заказ</button> &nbsp; <button id="clear_cart">Очистить корзину</button></p>-->
            <span class="item_description">
                Ставка на рух, ритм те незмінну свіжість! Темп життя диктує свої правила і
                неприємному запаху поту не місце поруч. Adidas має те, що дозволить відчувати
себе комфортно будь-де та будь-коли. Adidas Pro Clear завдяки системі Активної
свіжості, дає вашій шкірі відчуття свіжості на цілий день ультра захист 48 годин -
ідеальне дбайливе та дієве поєднання захисту від поту і догляду за вашою шкірою.
А також приємний запах для повного відчуття комфорту. Не залишає білих плям на одязі.
Не містить спирт. Застереження: тільки для зовнішнього застосування.
Не використовувати у разі пошкодження шкіри. Припинити застосування у разі появи подразнення шкіри.
Уникати попадання в очі. При попаданні в очі негайно промити водою.
            </span>
        </div>
        <div class="clear"></div>
        <div class="coment">
        </div>
    </div>
    </div>
</div>
<script src="../js/bascket.js"></script>
{{template "futer"}}
{{end}}
